<div class="main users-new">
  <div class="container">
    <div class="form-heading">New User</div>
    <div class="form users-form">
      <div class="form-body">
        <%= @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_tag("/users/create") do %>
          <p>User Name</p>
          <input name="name" value="<%= @user.name %>">
          <p>e-mail</p>
          <input name="email" value="<%= @user.email %>">
          <p>Password</p>
          <input name="password" type="password" value="<%= @user.password %>">
          <input type="submit" value="Create">
        <% end %>
      </div>
    </div>
  </div>
</div>
